<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562689268419-6l3g5sjc1c5d5mfb7qk7t2g8l7ucqjiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562689268419-6l3g5sjc1c5d5mfb7qk7t2g8l7ucqjiu</string>
	<key>API_KEY</key>
	<string>AIzaSyAVBv5Ir3Aaq6ZISIDygq_BMTXjIg6pFnE</string>
	<key>GCM_SENDER_ID</key>
	<string>562689268419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.techacademy.akiyoshi220.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-4cf68</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-4cf68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562689268419:ios:7a1d6e058627c0f20fa076</string>
</dict>
</plist>